{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaVersion": 2017
  },
  "globals": {
    "BROWSER": true,
    "chrome": true,
    "Promise": true
  },
  "rules": {
    "no-console": 0,
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"]
  }
}
